<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aryan.scool">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activities.Subject"></activity>
        <activity android:name=".Activities.TeacherInfo" />
        <activity android:name=".Activities.StudentDashboard" />
        <activity android:name=".Activities.StudentProfileActivity" />
        <activity android:name=".Activities.DashboardActivity" />
        <activity android:name=".Activities.ResultActivity" />
        <activity android:name=".Activities.NoticeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.ShowAttendanceActivity" />
        <activity android:name=".Activities.LoginActivity" />
        <activity android:name=".Activities.AttendanceActivity" />
    </application>

</manifest>